<% include partials/header %>
<div class="container">
    <div style="width: 30%; margin: 25px auto;">
        <div id="logo" style="text-align: center"><img height="70%" width="70%" src="https://mail.google.com/mail/u/0/?ui=2&ik=f35d1a4568&view=fimg&th=15866da320f1c991&attid=0.1&disp=emb&realattid=ii_15866d9b89fab5ac&attbid=ANGjdJ-JlMVBm_n5jW7re_exGiWbma9vqS9knfjzrJYtmknp-CPLetKrEClChNYJSoq1VgyLhyt5yyavTnWVHvBSdS6rq5HYV07tB4Yeo71LiimP_NTYOG_T7v9--BA&sz=w880-h482&ats=1479244385622&rm=15866da320f1c991&zw&atsh=1"></div>
        <a href="/signup"><div class="btn btn-warning btn-lg btn-block">Getting Started</div></a> <br> 
        <a href="/login"><div class="btn btn-warning btn-lg btn-block">Log In</div></a>
    </div>
</div>


<% include partials/footer %>